[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2023.11.17"
charset-normalizer = "==3.3.2"
idna = "==3.4"
pytube = "==15.0.0"
requests = "*"
urllib3 = "==2.1.0"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
